body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

/* Contenedor */
.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* Título */
.menu-container h1 {
    color: #f2d33b;
    margin-bottom: 30px;
}

/* Links */
.menu-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-links a {
    text-decoration: none;
    padding: 15px 30px;
    background: #f2d33b;
    color: #0f172a;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.menu-links a:hover {
    transform: scale(1.05);
    background: #ffe95a;
}